body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}

header {
    background: #E49CC1;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 10px auto;
}

.hidden {
    display: none;
}

button {
    background-color: #E49CC1;
    color: #E49CC1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #E49CC1;
}

input, select {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
